
  
    .f-form-group-wrap {
    display: flex;
    flex-flow: row wrap;
    }

    label.f-align {
    width: 12em;
    display: inline-block;
    margin-left: 0.3em;
    flex: 0 0 12em;
    }

    .f-align {
    margin-left: 0.3em;
    flex: 1 1 auto;
    }
    
    .f-max-size {
    width: 98%;
    }

    .smallError{
        color:red; font-size: 10pt; margin-left: 6px;
    }