table  { border-collapse: collapse; width: 100%; border :1px solid black;}
th, td {  border:1px solid black; font-size: smaller;}
th     { background:rgb(220, 220, 220); text-align: left;}

.selected { 
    //font-weight: bold; //with .width side 
    color: blue;
    text-shadow:0px 0.5px 0.5px blue; //without .width side effect
}