<p>calcul tva</p>
<label>ht:</label> <input name="ht" type="number" (input)="onCalculerTvaTtc()" [(ngModel)]="ht" /> <br/>
<!-- <button (click)="onCalculerTvaTtc()">calculer</button> <br/> -->
<label>tauxTva(%):</label> 
   <select [(ngModel)]="taux" name="taux" (change)="onCalculerTvaTtc()">
      <option [ngValue]="t" *ngFor="let t of listeTaux">{{t}}%</option>
    </select> <br/>
<div *ngIf="ht>0">   
tva=<span class="enEvidence" id="spanTva">{{tva | mynumber:'1.0-2'}}</span><br/>
ttc=<span class="enEvidence" id="spanTtc">{{ttc | mynumber:'1.0-2'}}</span><br/>
</div>
<hr/>

<div class="myFlexRow">
   <div class="myFlexCell">
      <h6>principaux taux de tva:</h6>
      <ul>
         <li *ngFor="let t of listeTaux" 
             (click)="onSelectTaux(t)"
             [class.enEvidence]="t === tauxSel">{{t}}%</li>
      </ul>
   </div>
   <div class="myFlexCell">
    <h6>principales catégories pour le taux sélectionné:</h6>
    <p class="enEvidence">{{listeCategoriePourTauxSel}}</p>
   </div>
</div>

